<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Alfa Bank JSC</h2>
                            <p class="item-intro text-muted">Loyalty program & Cashback</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/alfabank-office.jpg" alt="Alfa bank. Headquarters.">
                            <p>
                                Alfa bank Loyalty programm is still in active development. Below are demo pages of some of the features for this project. 
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="">Statistics page</a>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>Date: May 2017</li>
                                <li>Client: Alfa Bank</li>
                                <li>Category: Demo</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>