<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Sergey V Osokin. SVO">
	<title>Portfolio of a Frontend Developer.</title>
</head>

<body id="page-top">
	<div class="page-wrapper" style="font-size: 1rem;"></div>
		
		{{> nav}}
		{{> header}}

		<div id="here"></div>
		{{> services}}
		{{> portfolio}}
		{{> about}}
		{{> team}}
		{{> companies}}
		{{> contacts}}
		{{> footer}}

		<!-- Portfolio Modals -->
		{{> modal1}}
		{{> modal2}}
		{{> modal3}}
		{{> modal4}}
		{{> modal5}}
		{{> modal6}}
		
		<!-- Contact form JavaScript -->
		{{!-- <script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script> --}}
</body>

</html>